.country{
    border: 2px solid tomato;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}
.btn{
    padding: 5px;
    background-color: brown;
    border-radius: 5px;
    color: white;
}